# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://nijcddearfltmvtvckdf.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5pamNkZGVhcmZsdG12dHZja2RmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzE1MDIyNjQsImV4cCI6MjA4NzA3ODI2NH0.3_bZGj4Lh6CRcRJweHqHPAMSBF5IQ705LaW7JBY9a6c
